---
title: 3-D Magnetotelluric inversion using Hadoop MapReduce
date: '2020-08-20'
---

This is my Honours thesis from 2012.

Some of the concepts and ideas are now outdated and have been superseded with new technologies.
I include it here only for future reference and posterity.

Download the PDF <a rel="external" href="/static/mt-thesis.pdf">here</a>.